---
export let title = "Footer";
---

<footer class="bg-gray-800 text-white p-4 flex justify-center">
  <p class="text-center">
    &copy; {new Date().getFullYear()} - Made with <span class="text-red-500">❤</span> by HayProject.
  </p>
</footer>
