---
export let title = "Navbar";
---

<header
  class="flex items-center justify-between bg-[#2d2d2d] px-4 py-1 select-none">
  <div class="flex items-center gap-4">
    <div class="flex gap-2 mr-4">
      <div class="w-3.5 h-3.5 rounded-full bg-[#ff5f56]"></div>
      <div class="w-3.5 h-3.5 rounded-full bg-[#ffbd2e]"></div>
      <div class="w-3.5 h-3.5 rounded-full bg-[#27c93f]"></div>
    </div>
    <div class="flex items-center gap-6">
      <div class="flex items-center gap-2">
        <span class="text-xs text-gray-400">File</span>
        <span class="text-xs text-gray-400">Edit</span>
        <span class="text-xs text-gray-400">Selection</span>
        <span class="text-xs text-gray-400">View</span>
        <span class="text-xs text-gray-400">Go</span>
      </div>
    </div>
  </div>
  <div class="navbar-title flex-1 text-center text-xs text-gray-400"></div>
  <div class="flex items-center gap-4">
    <span class="material-symbols-outlined text-gray-400 !text-sm">search</span>
    <div
      class="flex items-center gap-2 px-2 py-0.5 bg-[#3c3c3c] rounded text-[10px] text-gray-300">
      <span class="material-symbols-outlined !text-xs"
        >keyboard_command_key</span
      >
      <span>P</span>
    </div>
  </div>
</header>
