---
export let title = "About Me";
---

<section id="about" class="p-10 border-b-4 border-black">
  <h2 class="text-2xl font-semibold mb-4">About Me</h2>
  <h2 class="text-xl font-light mb-4">Muhammad Haykal</h2>
  <p class="text-lg leading-relaxed">
    I am a Junior Programmer with a passion for creating efficient and
    user-friendly applications. I have experience in various programming
    languages and frameworks, and I am always eager to learn new technologies.
    My goal is to contribute to innovative projects that make a difference in
    people's lives.
  </p>
</section>
